<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Title</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="background"></div>
  <div class="content">

    <div style="text-align:center">
      <h1>{{title}}</h1>
      <h2>{{pet.name}} details!</h2>

      <div><label>id: </label>{{pet.id}}</div>
      <div><label>name: </label>{{pet.name}}</div>
      <h3>Edit Pet:</h3>
      <div>
          <label for="input.pet.name">Pet Name</label>
          <ons-input input-id="input.pet.name" type="text" [(value)]="pet.name"></ons-input> 
      </div>
      <ons-list>
          <!-- https://github.com/OnsenUI/OnsenUI/blob/master/bindings/angular2/examples/lazy-repeat.ts -->
        <ons-list-item id="item-{{ i }}" *onsLazyRepeat="let item of pet.photoUrls; let i = index">
          <div class="center">
            #{{i}}:{{item}}
          </div>
        </ons-list-item>
      </ons-list>
    </div>
  </div>
    
</ons-page>